[submodule "react/01-todo-list"]
	path = react/01-todo-list
	url = https://github.com/miguelscastro/to-do-list
[submodule "react/02-coffee-delivery"]
	path = react/02-coffee-delivery
	url = https://github.com/miguelscastro/coffee-delivery
[submodule "java/01-livraria"]
	path = java/01-livraria
	url = https://github.com/miguelscastro/livraria
[submodule "react/03-github-blog"]
	path = react/03-github-blog
	url = https://github.com/miguelscastro/github-blog
