services:
  db:
    image: postgres:latest
    container_name: postgresql
    restart: always
    environment:
      POSTGRES_DB: tests
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql
volumes:
  db_data:
    driver: local
