name: Gestao de Vagas CI

on:
  push:
    branches: ["main"]
    paths:
      - 'java/04-gestao-vagas/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: java/02-gestao-vagas

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven' 

      - name: Build with Maven
        run: mvn clean install

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: java/02-gestao-vagas
          push: true
          tags: |
            miguelscastro/gestao-vagas:latest
            miguelscastro/gestao-vagas:${{ github.sha }}
  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Pull image docker hub
        run: docker pull miguelscastro/gestao-vagas:latest
      - name: remove old container
        run: docker rm -f gestao-vagas || true
      - name: Run docker container
        run: docker run -d -p 8080:8080 -e DB_HOST=${{secrets.DB_HOST}} -e DB_PORT=${{secrets.DB_PORT}} -e DB_NAME=${{secrets.DB_NAME}} -e DB_USER=${{secrets.DB_USER}} -e DB_PASSWORD=${{secrets.DB_PASSWORD}} --name gestao-vagas miguelscastro/gestao-vagas:latest
