name: Gestao de Vagas CI

on:
  push:
    branches: ["main"]
    paths:
      - 'java/02-gestao-vagas/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: java/02-gestao-vagas

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven' 

      - name: Build with Maven
        run: mvn clean install

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: java/02-gestao-vagas
          push: true
          tags: |
            miguelscastro/gestao_vagas:latest
            miguelscastro/gestao_vagas:${{ github.sha }}